<div class="container-fluid">
<div class="row">

  <footer class="carousel">
    <div class="footer-bg">
    </div>
    <div class="footer-overlay text-center">
      <h1 class="text-shadow">ATF is committed to making this program
        <br />100% FREE for its applicants!</h1>
      <p class="text-shadow">This means there is an incredible opportunity for you to step into their story as they battle for a life of vitality and hope! These remarkable men and women inspire and motivate with their courage to overcome. Sponsoring a 9-week training program is $4500, but there are so many different ways your support can help!</p>
      <a class="btn btn-lg btn-primary">Support ATF</a>
    </div>
  </footer>

</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p class="copyright":s>© 2015 Adaptive Training Foundation, All Rights Reserved</p>
    </div>
  </div>
</div>
