/*
 * brand-color: #EC5C42;
 */


@font-face {
  font-family: Pacifica;
  src: url('/fonts/Pacifica Condensed Regular.ttf')
}

html, body {
  font-family: Roboto;
  color: #555555;
}

.text-shadow {
  text-shadow: 0 0 5px #999999;
}

h1, .navbar-header a {
  font-family: Pacifica;
}

.cover h1, footer h1 {
  font-family: Roboto;
}

.btn-primary {
  background-color: #EC5C42;
  border-color: #EC5C42;
}

.navbar {
  box-shadow: 0px 0px 5px 4px #999999;
  background: #333333;
  opacity: .96;
}

.navbar-default {
  border: none;
}

.navbar-default a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li {
}

.navbar-default .navbar-nav > li > a {
  color: #8C9499;
  padding: 20px;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FFFFFF;
  border-bottom: 3px solid #F25F43;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
  border-bottom: 3px solid #F25F43;
}

.navbar-default .navbar-nav > li.selected > a {
  color: #FFFFFF;
  border-bottom: 3px solid #F25F43;
}

.navbar-default .navbar-nav > li > a.support {
  color: #FFFFFF;
  background-color: #F25F43;
  border-bottom: 3px solid #F25F43;
}

.navbar-default .navbar-nav > li > a.support:hover {
  color: #333333;
  border-bottom: 3px solid #333333;
}

.navbar-default .navbar-nav > li > a.support:focus {
  color: #333333;
  border-bottom: 3px solid #333333;
}

.navbar-brand {
  padding-top: 0px;
}

.navbar-header a {
  font-size: 20px;
}

footer.section {
  background-color: #999999 !important;
}

.footer-bg {
	min-height: 400px; /* Must have a height or min-height set for background images */
	background-size: cover;
	background-position: center center;
	background-image: url('/images/hero_support.jpg');
  filter: blur(4px) grayscale(80%);
}

footer.carousel {
  overflow: hidden; /* To keep blur from bleeding */
}

.footer-overlay {
	position: absolute;
	bottom: 80px;
	right: 0;
	left: 0;
}

footer .footer-overlay p, footer .footer-overlay h1 {
  margin: 0 auto;
  width: 80%;
}

.copyright p {
  font-size: 80%;
  margin:.8em;
}
