<div class="cover">
<%= partial "/layouts/navbar.erb" %>
<div class="cover-image" style="background-image: url(/images/hero_heavy-bag.jpg)"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="text-inverse">Adaptive Training Foundation</h1>
      <p class="text-inverse">We provide modified methods of training to restore hope to all those with physical impairment.</p>
      <br>
      <br>
      <a class="btn btn-lg btn-primary">Support ATF</a>
    </div>
  </div>
</div>
</div>
