<footer class="section section-primary">
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>ATF is committed to making this program 100% FREE for its applicants!</h1>
      <p> This means there is an incredible opportunity for you to step into their story as they battle for a life of vitality and hope! These remarkable men and women inspire and motivate with their courage to overcome. Sponsoring a 9-week training program is $4500, but there are so many different ways your support can help!
      <a class="btn btn-lg btn-primary">Support ATF</a>
    </div>
    <div class="col-sm-4">
      <p class="text-info text-right">
      <br>
      <br>
      </p>
      <div class="row">
        <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
          <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
          <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
          <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
          <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 hidden-xs text-right">
          <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
          <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
          <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
          <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
