<nav class="navbar navbar-fixed-top navbar-devault" role="navigation">
<div class="container">
  <div class="row">

    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img alt="Adaptive Training Foundation Logo" src="/images/logo.png"></a>
      <a href="/">Adaptive Training Foundation</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">Meet the Athletes</a>
        </li>
        <li>
          <a href="team2.html">Meet the Team</a>
        </li>
        <li>
          <a href="#">Read the News</a>
        </li>
        <li>
          <a href="contact.html">Contact Us</a>
        </li>
        <li>
          <a class="btn btn-lg btn-primary" href="support.html">Support ATF</a>
        </li>
      </ul>
    </div>


  </div> <!-- row -->
</div>
</nav>
