<!-- Services Section -->
<section class="alt-bg" id="donations">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Donation Address</h2>
        <h3 class="section-subheading text-muted">Please send donations to:</h3>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-lg-12">
        <h2 class="service-heading">
          6403 Barfield Dr.<br />
          Dallas, TX 75252<br />
        </h2>
        <br />
        <br />
        <h4>
          <%= mail_to "info@adaptivetrainingfoundation.org" %>
        </h4>
        <br />
        <h3>
          Phone 214.432.1070
        </h3>
      </div>
    </div>

  </div>
</section>


