<!-- Services Section -->
<section id="map">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Visit ATF</h2>
        <%# <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> %>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.google.com/maps/api/staticmap?pb=!1m14!1m8!1m3!1d26829.366415053206!2d-96.83964499999999!3d32.800987000000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e9bff47aca3c9%3A0xfffa740020be269b!2s1319+Crampton+St%2C+Dallas%2C+TX+75207!5e0!3m2!1sen!2sus!4v1427682328328" frameborder="0" style="border:0" height="100%"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>


