<template name="staff">
<section id="portfolio">
<div class="container">

  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Staff</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3 col-sm-6 portfolio-item">
      <a href="#dave-vobora" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <img src="/images/team/staff/dave_vobora.jpg" alt="Dave Vobora" class="img-responsive" />
      </a>
      <div class="portfolio-caption">
        <h4>Dave Vobora</h4>
        <p class="text-muted">Trainer</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <a href="#madi-jacob_t" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <img src="/images/team/staff/madi_jacob.jpg" alt="Madi Jacob" class="img-responsive" />
      </a>
      <div class="portfolio-caption">
        <h4>Madi Jacob</h4>
        <p class="text-muted">Athletic Trainer</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <!-- <a href="#david-williams" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div> -->
        <img src="/images/team/staff/david_williams.jpg" alt="David Williams" class="img-responsive" />
      <!-- </a> -->
      <div class="portfolio-caption">
        <h4>David Williams</h4>
        <p class="text-muted">Trainer</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <!-- <a href="#david-williams" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div> -->
        <img src="/images/team/staff/hunter_clark.jpg" alt="Hunter Clark" class="img-responsive" />
      <!-- </a> -->
      <div class="portfolio-caption">
        <h4>Hunter Clark</h4>
        <p class="text-muted">Trainer</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <!-- <a href="#david-williams" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div> -->
        <img src="/images/team/staff/zach_couch.jpg" alt="Zach Couch" class="img-responsive" />
      <!-- </a> -->
      <div class="portfolio-caption">
        <h4>Zach Couch</h4>
        <p class="text-muted">PT</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <!-- <a href="#david-williams" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div> -->
        <img src="/images/team/staff/tom_kapioltas.jpg" alt="Tom Kapioltas" class="img-responsive" />
      <!-- </a> -->
      <div class="portfolio-caption">
        <h4>Tom Kapioltas</h4>
        <p class="text-muted">Lawyer</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 portfolio-item">
      <!-- <a href="#david-williams" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div> -->
        <img src="/images/team/staff/blake_watson.jpg" alt="Blake Watson" class="img-responsive" />
      <!-- </a> -->
      <div class="portfolio-caption">
        <h4>Blake Watson</h4>
        <p class="text-muted">Media Director</p>
      </div>
    </div>

  </div>
</div>
</section>
</template>
