<template name="team">
<%= partial "/layouts/header.erb" %>

<%= partial "/views/team/board.erb" %>
<%= partial "/views/team/board/john-roach.erb" %>
<%= partial "/views/team/board/jim-francis.erb" %>
<%= partial "/views/team/board/jacob-schick.erb" %>
<%= partial "/views/team/board/sarah-vobora.erb" %>

<%= partial "/views/team/executives.erb" %>
<%= partial "/views/team/executives/david-vobora.erb" %>
<%= partial "/views/team/executives/madi-jacob_e.erb" %>

<%= partial "/views/team/staff.erb" %>
<%= partial "/views/team/staff/dave-vobora.erb" %>
<%= partial "/views/team/staff/madi-jacob_t.erb" %>
</template>
