<template name="scripts">

<!-- Plugin JavaScript -->
<script src="/javascripts/jqueryEasing.js" charset="utf-8"></script>
<script src="/javascripts/classie.js" charset="utf-8"></script>
<script src="/javascripts/cbpAnimatedHeader.js" charset="utf-8"></script>

<!-- Contact Form JavaScript -->
<script src="/javascripts/jqBootstrapValidation.js" charset="utf-8"></script>
<script src="/javascripts/contact_me.js" charset="utf-8"></script>

<!-- Custom Theme JavaScript -->
<script src="/javascripts/agency.js" charset="utf-8"></script>
</template>
