<div class="section">
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Board Members</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <img src="images/team/board/john_roach.jpg"
           class="center-block img-responsive img-rounded">
      <h3 class="text-center">Judge John R. Roach, Jr.</h3>
    </div>

    <div class="col-md-3">
      <img src="images/team/board/jim_francis.jpg"
           class="center-block img-responsive img-rounded">
      <h3 class="text-center">Jim Francis</h3>
    </div>

    <div class="col-md-3">
      <img src="images/team/board/jacob_schick.jpg"
           class="center-block img-responsive img-rounded">
      <h3 class="text-center">Jacob Schick</h3>
    </div>

    <div class="col-md-3">
      <img src="images/team/board/sarah_vobora.jpg"
           class="center-block img-responsive img-rounded">
      <h3 class="text-center">Sarah Vobora</h3>
    </div>

  </div>

</div>
</div>
