---
title: Contact ATF
---
<div class="section">
  <div class="container">
    <h1>The Adaptive Training Foundation</h1>
    <div class="row">

      <div class="col-md-3">

        <h3>Donation Address</h3>
        <p>6403 Barfield Dr.<br />
        Dallas, TX 75252<br />
        <%= mail_to "info@adaptivetrainingfoundation.org" %><br />
        Phone : 214.432.1070</p>

        <h3>Email Us</h3>
        <div class="input-group email">
          <input type="text" class="form-control" placeholder="First Name" aria-describedby="sizing-addon2">
          <input type="text" class="form-control" placeholder="Last Name" aria-describedby="sizing-addon2">
          <input type="text" class="form-control" placeholder="Email Address" aria-describedby="sizing-addon2">
          <textarea class="form-control" rows="8" placeholder="Questions or Comments" aria-describedby="sizing-addon2"></textarea>
        </div>
      </div>

      <div class="col-md-9">
        <h3>Physical Address</h3>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26829.366415053206!2d-96.83964499999999!3d32.800987000000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e9bff47aca3c9%3A0xfffa740020be269b!2s1319+Crampton+St%2C+Dallas%2C+TX+75207!5e0!3m2!1sen!2sus!4v1427682328328" frameborder="0" style="border:0" height="100%"></iframe>
        </div>
      </div>

    </div><!-- row -->
  </div><!-- container -->
</div><!-- section -->
