---
title: Support ATF
---
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Empowerment Pledge</h2>
        <p>One way you can show your support for Adaptive Training Foundation is by pledging $22/month. Your contribution will help us to provide adaptive athletes the opportunity to receive customized training to restore hope through movement. YOU will play a crucial part in our mission to RESTORE, RECALIBRATE, and REDEPLOY. Join our mission TODAY!</p>
        <p>The Empowerment Pledge is a year-long commitment to pledge $22/month for 12 months. Your credit card information will be securely stored in PayPal and will be automatically charged each month. A renewal option will be mailed to you on the 12th month.</p>
      </div>
    </div>
  </div>
</div>
