---
title: Support ATF
---
<div class="section">
  <div class="container">

    <div class="row">

      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" 
                  src="https://www.youtube.com/embed/YVTDr32aKSw?feature=player_detailpage"
                  allowfullscreen=""></iframe>
        </div>
      </div>

      <div class="col-md-6">
        <h2>Empowerment Pledge</h2>
        <p>One way you can show your support for Adaptive Training Foundation is by pledging $22/month. Your contribution will help us to provide adaptive athletes the opportunity to receive customized training to restore hope through movement. YOU will play a crucial part in our mission to RESTORE, RECALIBRATE, and REDEPLOY. Join our mission TODAY!</p>
        <p>The Empowerment Pledge is a year-long commitment to pledge $22/month for 12 months. Your credit card information will be securely stored in PayPal and will be automatically charged each month. A renewal option will be mailed to you on the 12th month.</p>
        <input class="center-block" type="image" border="0" alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"></input>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <h2>Help Now</h2>
        <p>Please click on the link below to make a donation and thank you for supporting Adaptive Training Foundation!</p>  
        <p>Your tax exempt donations allow us to continue to provide hope through movement to those with physical impairment.</p>
        <br>
        <input class="center-block" type="image" border="0" alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"></input>
      </div>

      <div class="col-md-6">
        <img class="center-block img-responsive img-rounded"
             src="images/atf_t-shirt_grey.jpg">
      </div>
    </div>

  </div>
</div>
</div>
