---
title: ATF Team
---

<!-- Board Members -->

<!-- Executive Team-->

<div class="section">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1>Executive Team</h1>
      </div>
    </div><!-- /row -->

<!-- Executive Team: David Vobora --> 

    <div class="row">

      <div class="col-md-4">
        <img src="images/team/executive/david_vobora.jpg" 
             class="center-block img-responsive">
      </div>

      <div class="col-md-8">
        <h2>David Vobora</h2>
        <h3>Founder / CEO</h3>
        <p>David Vobora is a 5 year veteran of the NFL.  He was “Mr. Irrelevant” (the last pick) in the 2008 NFL Draft.  Rather than being discouraged, he relished the opportunity to prove doubters wrong – just as he had as an Idaho Vandal standout football player for 4 years.  Vobora radiates a relentless spirit and indomitable optimism.  He has an immense work ethic and strategic insights into personal and professional performance refined by both adversity and achievement.</p>
        <p>Upon retiring from the NFL David opened Performance Vault,a for-profit gym that offers individual and customized performance training to elite athletes. David met Travis Mills in January of 2014.  Travis Mills is a retired United States Army Staff Sergeant and quadruple amputee.  The two began working out together and the unique challenges that Travis’ injuries posed in the gym ignited a passion for David to offer adaptive performance training to individuals who have suffered life-altering injuries.</p> 
        <p>Through David’s exposure to Travis and many other critically injured veterans, he recognized a void in the process.  A person gets injured, they are treated at the hospital, go through rehabilitation, but where do they go to continue their recovery while defining the recalibrated-self?</p>
        <p>ATF fills this void.  Adaptive Training Foundation was established to restore hope through movement to those with physical impairment by creating opportunities for adaptive athletes to train and compete.  ATF is not rehab.  ATF is designed to provide quality, individual and customized training that will help each athlete create a sustainable lifestyle change.</p>
        <p>David never allowed payment for training from the adaptive athletes he served over the next six months. In September 2014, the Adaptive Training Foundation became 501(c)3 tax exempt to allow outside support for these ambitious participants.  The program now offers a 9-week intensive training to restore, recalibrate and redeploy these athletes to inspire others to achieve the impossible.</p>
      </div>

    </div><!-- /row -->

<!-- Executive Team: Madi Jacob --> 

    <div class="row">

      <div class="col-md-8">
        <h2>Madi Jacob</h2>
        <h3>Director of Operation</h3>
        <p>Madi Jacob found her passion for serving others at an early age.  Born and raised in south Louisiana, she was raised in small community eager to help one another, and attended summer camp throughout her childhood with her mother, who was staff nurse at the Louisiana Lions Camp for Crippled Children. There she spent many summers learning what it takes to care for children with varying physical and mental disabilities and in her teenage and collegiate years chose to continue her service to this wonderful cause. Through this experience she was inspired to pursue a Bachelor’s Degree in the field of Health and Exercise Science at Northwestern State University while being involved in various campus ministries and organizations. After graduation from NSU she earned her state and national certification in Athletic Training and has spent the past 15 years working in this field.  Madi also earned a Master’s Degree in Biblical Studies from Dallas Theological Seminary. She has been married to Andy Jacob for over 11 years and they have two beautiful children.</p>
        <p>Over the course of her life,Madi has worked with many non-profits including Special Olympics, Camp Barnabas and Joni Eareckson Tada’s ministry – Joni and Friends.  She helped launch Just Say YES!- a non-profit geared toward helping teens succeed by educating them through speakers and curriculum.  Madi has worked at The Covenant School in Dallas for the past eight years.  Her time at Covenant further exposed her to opportunities with the Advancement and Development departments helping raise funds for student financial assistance through grant writing and event planning.  Most recently Madi has served as the Athletics Coordinator at The Covenant School and played an integral part in handling game schedules, personnel decisions, website design, financial development and accounting for the department.</p>
        <p>As Director of Operations, Madi feels at home working with Adaptive Training Foundation.  Her wide range of experience makes her uniquely suited to lead the foundation with a passion and drive towards helping adaptive athletes realize and attain their full potential.</p>
      </div>

      <div class="col-md-4">
        <img src="images/team/executive/madi_jacob.jpg" 
             class="center-block img-responsive">
      </div>

    </div><!-- /row -->

  </div><!-- /container -->
</div><!-- /section -->

<!-- Trainers -->
